.bg-image {
  @include backgroundImg(cover);

  .headline {
    color: $white;
  }
}

.headline {
  text-align: center;
  padding: 1rem 0;
}

// Class that will position all elements center horizontaly and vertically
.center-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
