// Fonts___________________________________________________________________
$primary-font: "Raleway", sans-serif;

// Colors________________________________________________________________
// - primary
$primary-color: #cdd1d6;
$primary-color-darker: #acafb3;
$primary-color-lighter: #e4e9ee;
$primary-color-slider: #acafb3;

// - secondary
$secondary-color: #707375;
$secondary-color-darker: #5b5c5e;

// - body
$body-color: #707070;

// - gray text
$gray: #595959;
$light-gray: #a6a6a6;
$lighter-gray: #d1d1d1;
$lightest-gray: #f2f2f2;
$dark-white: #fcfcfc;

// - gray backgrounds
$background-gray: #dbdbdb;

// - dark backgrounds
$dark-gray: #363636;
$darker-gray: #00314d;
$darkest-gray: #292929;
$darkester-gray: #111;

// - standard
$black: #000;
$white: #fff;

// - transparent colors
$transparent-gray: rgba(255, 255, 255, 0.35);
$transparent-black: rgba(0, 0, 0, 0.5);

// - footer
$footer-lightest-gray: #f9f9f9;

// - borders
$border-color: #f2f2f2;

// - box shadow
$box-shadow-color: #ccc;

// - progress bar
$progress-bar-main-color: #616161;

// - errors
$error-color: #cd0101;
$primary-error: #e69797;

// - social network colors
$facebook: #3b5998;
$facebook-secondary: #2f477a;
$instagram: #dd2a7b;
$instagram-secondary: #8134af;
$linkedin: #0077b5;
$linkedin-secondary: #005f91;
$twitter: #1da1f2;
$twitter-secondary: #0c84cd;
$xing: #026466;
$xing-secondary: #cfdc00;
$pinterest: #c8232c;
$pinterest-secondary: #a01c23;

// Other________________________________________________________________
// - menu
$menu-height: 80px;
$menu-sticky-height: 60px;

// - container
$container-width: 1400px;
