.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 90vh;
  padding: 150px;
  @include backgroundImg(cover);
  color: $primary-color;
}
