.parallax {
  @include backgroundImg(cover);
  background-attachment: fixed;
  overflow: hidden;
  height: 60vh;

  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    height: auto;
  }
}
