.parallax {
  @include backgroundImg(cover);
  background-attachment: fixed;
  overflow: hidden;
  height: 60vh;

  @include media-breakpoint-down(sm) {
    background-attachment: initial;
    overflow: initial;
  }
}
