.services {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  gap: 1rem;
  padding-top: 100px;
  padding-bottom: 100px;

  .box {
    text-align: center;

    h2 {
      margin: 10px 0 15px;
    }
  }

  .services-image {
    width: 150px;
  }
}
